<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloudScan | Vulnerability Scanner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Cloud<span>Scan</span></h1>
            <p>Cloud-Based Network Reconnaissance Tool</p>
            <h2>"For educational purposes only"</h2>
            <h3>NOTE:-Take permission before you Scan any device</h3>
        </header>

        <div class="search-box">
            <input type="text" id="target" placeholder="Enter Target IP or Domain (e.g., 8.8.8.8)">
            <button id="scan-btn" onclick="startScan()">Run Scan</button>
        </div>

        <div id="loader" class="hidden">
    <div class="spinner"></div>
    <p>Running Deep Vulnerability Scan...</p>
    <p style="font-size: 0.8em; color: gray;">(This usually takes 60-120 seconds for security scripts to finish)</p>
</div>

        <div id="result-container" class="hidden">
            <h3>Scan Results</h3>
            <pre id="output"></pre>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>